* {
  box-sizing: border-box;
  margin: 0;
}
/* Centramento */
body{
  width: 70%;
  margin: 0 auto;
  background-image: url('../immagini/background-pagina.png');
}
/* Sezione header */
.main-header {
  font-family: 'Montserrat';
}
.titolo {
  height: 200px;
  background: #ccc;
  /* border: 3px solid black; */
  background-image: url('../immagini/background-banner.jpeg');
  background-position: center;
  background-size: cover;
}
.sottotitolo {
  color: white;
}
.logo {
  width: 300px;
}
.nav-bar {
  background: grey;
  /* border: 2px solid black; */
  height: auto;
  padding: 10px;
}
.list li {
  width: calc(100% / 7)
  list-style: none;
  display: inline-block;
  color: white;
  margin-right: 40px;
}
.list li a {
  text-decoration: none;
}
/* Sezione main della pagina */
#container{
  margin-top: 30px;
}
/* UTILITIES */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
main,
footer {
  font-family: 'Roboto';
}
/* prima colonna  */
.col1 {
  background: #ccc;
  width: 20%;
  height: auto;
  /* border: 2px solid black; */
  margin-right: 5%;
  padding: 10px;
}
.paragrafo {
  margin-bottom: 5px;
}
/* seconda colonna */
.col2 {
  background: #ccc;
  width: 50%;
  height: auto;
  /* border: 2px solid black; */
  margin-right: 5%;
  padding: 10px;
}
/* terza colonna */
.col3 {
  width: 20%;
  height: 640px;
}
.col1,
.col2,
.col3 {
  float: left;
}
/* Suddivisione colonna 3 in sezioni */
.row {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  /* border: 2px solid black; */
  background: #ccc;
  padding: 10px;
}
/* Sezione FOOTER */
.main-footer {
  border-bottom: 3px solid black;
  margin-top: 30px;
  background: #ccc;
  height: auto;
  text-align: right;
  padding: 5px;
}
.social {
  background: #ccc;
  margin-bottom: 20px;
}
.social li {
  list-style: none;
  float: left;
  width: calc(100% / 3);
  height: auto;
  text-align: center;
  padding: 20px;
}
.icona {
  font-size: 30px;
}

/* .ciao::before {
  content: 'f09e';
} */
