* {
  box-sizing: border-box;
  margin: 0;
}
/* Centramento */
body{
  width: 70%;
  margin: 0 auto;
}
/* Sezione header */
.titolo {
  height: 200px;
  background: red;
  border: 3px solid black;
}
.nav-bar {
  background: orange;
  margin-top: 5px;
  border: 2px solid black;
  height: 50px;
}
/* Sezione main della pagina */
#container{
  margin-top: 30px;
}
/* UTILITIES */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/* prima colonna  */
.col1 {
  background: green;
  width: 20%;
  height: 400px;
  border: 2px solid black;
  margin-right: 5%;
}
/* seconda colonna */
.col2 {
  background: yellow;
  width: 50%;
  height: 200px;
  border: 2px solid black;
  margin-right: 5%;
}
/* terza colonna */
.col3 {
  width: 20%;
  height: 640px;
}
.col1,
.col2,
.col3 {
  float: left;
}
/* Suddivisione colonna 3 in sezioni */
.row {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border: 2px solid black;
  background: purple;
}
/* Sezione FOOTER */
.main-footer {
  border: 3px solid black;
  margin-top: 30px;
  margin-bottom: 50px;
  background: violet;
  height: 40px;
}
