* {
  box-sizing: border-box;
  margin: 0;
}
/* Centramento */
body{
  width: 70%;
  margin: 0 auto;
  background-image: url('../immagini/background-pagina.png');
}
/* Sezione header */
.main-header {
  font-family: 'Montserrat';
}
.titolo {
  height: 300px;
  background: #ccc;
  background-image: url('../immagini/background-banner.jpeg');
  background-position: center;
  background-size: cover;
  position: relative;
}
.contenuto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 49%;
}
.sottotitolo {
  color: white;
  font-size: 20px;
  display: inline-block;
}
.logo {
  width: 400px;
}
.nav-bar {
  background: grey;
  /* border: 2px solid black; */
  height: auto;
  padding: 0 10px;
}
.list li {
  width: calc(100% / 7)
  list-style: none;
  display: inline-block;
  color: white;
  margin-right: 30px;
}
.list li a {
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  line-height: 60px;
}
.list li a:hover {
  border-color: black;
  color: white;
}
/* .list li a:visited {
  color:green;
} */
/* Sezione main della pagina */
#container{
  margin-top: 30px;
}
/* UTILITIES */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
main,
footer {
  font-family: 'Roboto';
}
/* prima colonna  */
.col1 {
  background: #ccc;
  width: 20%;
  height: auto;
  margin-right: 5%;
  padding: 10px;
}
.paragrafo {
  color: green;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* seconda colonna */
.col2 {
  background: #ccc;
  width: 50%;
  height: auto;
  margin-right: 5%;
  padding: 10px;
}

.col3 {
  width: 20%;
  height: 640px;
}
.col1,
.col2,
.col3 {
  float: left;
}
h4 {
  margin-bottom: 10px;
}
/* Suddivisione colonna 3 in sezioni */
.row {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background: #ccc;
  padding: 10px;
}
/* Sezione FOOTER */
.main-footer {
  border-bottom: 3px solid black;
  margin-top: 30px;
  background: #ccc;
  height: auto;
  text-align: right;
  padding: 5px;
}
/* Icone social network */
.social {
  background: #ccc;
  margin-bottom: 20px;
}
.social li {
  list-style: none;
  float: left;
  width: calc(100% / 3);
  height: auto;
  text-align: center;
  padding: 20px;
}
.social li a {
  color:black;
}
.social li a:hover {
  color:white;
}
/* STILE ICONE di FontAwesome */
.icona {
  font-size: 30px;
}
.fa-rss {
  background: orange;
  color: white;
}
